.container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: block;
  width: 90%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  border: 1px solid #d4d4d4;
  justify-content: center;
  position: relative;
}

.input {
  flex: 1;
  width: 100%;
  border: none;
  padding: 10px;
  padding-left: 15px;
}
.input:focus {
  outline: none;
}

.delete_btn {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
