.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_dark {
  background-color: #6a6a6a;
  color: #fff;
  border-left: 1px solid #7a7a7a;
  position: relative;
  left: -2px;
}

.exit_btn {
  position: fixed;
  top: 18px;
  right: 25px;
}

.detail_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.username {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.last_seen {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #c8c8c8;
}

.contact_methods {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_methods > div {
  cursor: pointer;
}
