.container {
  background-color: #fff;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: relative;
}

.container_dark {
  background-color: #7a7a7a;
  color: #fff;
}

.message_received {
  width: 60%;
  background-color: #f3f3f4;
  text-align: left;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
}

.message_received_dark {
  background-color: #515151;
  color: #fbfbfb;
}

.message_sent {
  text-align: left;
  width: 60%;
  align-self: flex-end;
  background-color: #6bb3fb;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

.message_sent_dark {
  background-color: #4d8dc8;
  color: #f6f6f6;
}
