.container {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 15px;
  background-color: #e6e6e6;
  color: #68b7ff;
  margin: 10px;
}

.container_dark {
  background-color: #7a7a7a;
}
