.container {
  height: 60px;
  text-align: center;
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  display: flex;
}

.container_dark {
  background-color: #7a7a7a;
  border-top: 1px solid #6a6a6a;
}

.form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.input_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 100%;
  padding: 10px 15px;
  background-color: #f3f3f3;
  border: none;
}

.input:focus {
  outline: none;
}

.btn {
  padding: 10px 15px;
  background-color: #6bb3fb;
  border: none;
  color: #fff;
  margin-left: 10px;
}

.btn_dark {
  background-color: #4d8dc8;
  color: #f6f6f6;
}
