.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 70px;
  padding: 0 25px;
  background-color: #f3f3f3;
}

.container_dark {
  background-color: #6a6a6a;
  color: #fff;
}

.user_detail_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.img_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.username {
  margin-left: 10px;
  font-size: 16px;
}
