html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

::placeholder {
  color: #c8c8c8;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.page_container {
  width: 100vw;
  display: flex;
}

.scroll_btn {
  display: none;
}

.active {
  box-shadow: inset 0px 0px 7px 0px rgba(130, 130, 130, 0.75);
}

.active_dark {
  box-shadow: inset 0px 0px 7px 0px rgba(220, 220, 220, 0.75);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}
/* 
.dark_mode {
  background-color: #545454;
  color: #eee;
}

.light_mode {
  background-color: #f3f3f4;
} */
