.container {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}

.container_dark {
  background-color: #7a7a7a;
  color: #fff;
  border-bottom: 1px solid #6a6a6a;
}

.container:last-child {
  border: none;
}

.img_container {
  flex: 1;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
}

.username {
  font-size: 16px;
  font-weight: 500;
}

.last_message {
  display: flex;
  align-items: center;
  color: #c8c8c8;
  font-size: 14px;
  font-weight: 400;
}
