.container {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #d4d4d4;
}

.icon_container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #acacac;
  margin-right: 10px;
  color: #fff;
}
