.container {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #ebebeb;
}

.container_dark {
  border-top: 1px solid #6a6a6a;
}

.icon_container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6d6d6;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}

.icon_container_dark {
  background-color: #7a7a7a;
}
